---
title: Snowplow blog posts authored by Yali Sassoon
layout: default
category: blog
author: Yali
---
<div id="contents">
	{% assign author = site.authors[page.author] %} 
	<h1>Posts by {{ author.display_name }}</h1>
	{{ author.avatar }}
	{{ author.spiel }}
	{% for post in site.posts %}
		{% if post.author == page.author %}
			<div class="post_summary">
				<a name="{{ post.shortenedlink }}" />
				<div class="date">{{ post.date | date_to_string }}</div>
				<div class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></div>
			</div>
		{% endif %}
	{% endfor %}

</div>

{% include sidebar_blog.html %}